html {
    text-align: center;
    font-family: Byker, sans-serif;
}
body {
    background-color: beige;
    format('truetype')
}

#Neko {
    height: 200px;
    border: solid;
    padding: 10px;
}

.socials {
    height: 30px;
}

#Header {
    font-weight: lighter;
}

@font-face {
    font-family: Byker;
    src: url("https://use.typekit.net/nuq3qmj.css")
}

